.card{
    border: 2px solid black;
    border-radius: 15px;
    background-color: darkgray;
    color: black;
    margin-top: 2rem;
}

.foto{
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
}